<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>djp.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>EASEMOB_API_URL</key>
	<string>api.easemob.com</string>
	<key>EASEMOB_APPKEY</key>
	<string>weiquan4773567</string>
	<key>EASEMOB_CHATROOM_DOMAIN</key>
	<string>conference.ac2</string>
	<key>EASEMOB_CHAT_ADDRESS</key>
	<string>push.easemob.com</string>
	<key>EASEMOB_CHAT_DOMAIN</key>
	<string>ac2</string>
	<key>EASEMOB_CHAT_PORT</key>
	<string>5222</string>
	<key>EASEMOB_CLOUDCODE_URL</key>
	<string>cloudcode.easemob.com</string>
	<key>EASEMOB_ORGKEY</key>
	<string>weiquan</string>
	<key>EASEMOB_STORAGE_URL</key>
	<string>storage.easemob.com</string>
	<key>EASEMOB_USERSERVICE_FACTORY_CLASS</key>
	<string>UGUserServiceFactory</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
