UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
ChatDemo-NonUI.xcscheme
xcschememanagement.plist

EaseMobSDK/*

*/.DS_Store
.DS_Store
.gitignore
ChatDemo-UI2.0/ChatDemo-UI2.0.xcodeproj/xcuserdata/
ChatDemo-UI2.0/ChatDemo-UI2.0.xcodeproj/project.xcworkspace/
/iOSSDK/
*.zip
/EaseMobSDK/
