UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
ChatDemo-NonUI.xcscheme
xcschememanagement.plist

EaseMobSDK/*

EaseMobSDK/include/ChatService/EMChatManager/types/EMChatImage.h

EaseMobSDK/include/ChatService/EMChatManager/types/EMChatText.h

EaseMobSDK/include/ChatService/EMChatManager/types/EMChatVideo.h

EaseMobSDK/include/ChatService/EMChatManager/types/EMChatVoice.h

EaseMobSDK/include/ChatService/EMChatManager/types/EMMessageBody.h

EaseMobSDK/resources/bundle/EaseMob.bundle/XMPPCapabilities.momd/XMPPCapabilities 2.omo

*.omo
