<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EASEMOB_API_URL</key>
	<string>api.easemob.com</string>
	<key>EASEMOB_CHATROOM_DOMAIN</key>
	<string>conference.ac2</string>
	<key>EASEMOB_CHAT_ADDRESS</key>
	<string>im1.easemob.com</string>
	<key>EASEMOB_CHAT_DOMAIN</key>
	<string>easemob.com</string>
	<key>EASEMOB_CHAT_PORT</key>
	<integer>5222</integer>
	<key>EASEMOB_CLOUDCODE_URL</key>
	<string>cloudcode.easemob.com</string>
	<key>EASEMOB_PUSH_ADDRESS</key>
	<string>push.easemob.com</string>
	<key>EASEMOB_PUSH_PORT</key>
	<integer>7874</integer>
	<key>EASEMOB_STORAGE_URL</key>
	<string>storage.easemob.com</string>
</dict>
</plist>
